<!DOCTYPE html>
<html>
  <head>
    <title>Blogpost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= form_tag destroy_user_session_path, method: :delete do %>
        <%= button_tag "Logout", type: :submit, class: "logout-button" %>
      <% end %>
    <% end %>

    <%= yield %>
    
    <p class="notice"><%= notice %></p>      
    <p class="alert">
      <%= alert %>
      <%= link_to 'Sign up', new_user_registration_path unless user_signed_in? || 
      current_page?(new_user_registration_path) || 
      current_page?(new_user_registration_path) || 
      current_page?(new_user_session_path)%>
    </p>
  </body>
</html>
